<!-- <div class="container top-padding">
    <div class="row">
        <img src="assets/img/youtube.png" height="40px" width="110px">
    </div>
</div> -->

<div class="container top-padding">
    <div class="row">
        <div class="d-none d-md-block d-xl-block header_icons">
            <img src="assets/img/youtube.png" height="35px" width="100px">
        </div>
        <div>
            <button class="btn">
                <i class="fa fa-bars"></i>
            </button>
            <!-- <i class="fa fa-bars" aria-hidden="true"></i> -->
        </div>
        <app-search></app-search>
        <app-button></app-button>

            <ul class="nav navbar-nav ml-auto list-group list-group-horizontal">
                <li class="nav-item d-md-down-none">
                  <a class="nav-link" href="#"><i class="fa fa-envelope"></i><span class="badge badge-pill badge-danger">1</span></a>
                </li>
                <li class="nav-item d-md-down-none">
                  <a class="nav-link" href="#"><i class="fa fa-bell"></i><span class="badge badge-pill badge-danger">3</span></a>
                </li>
              </ul>

            <div class="ml-auto">
              <i class="fa fa-user-circle-o fa-4x"  aria-hidden="true"></i>
            </div>
            <div class="details">
              <p><b>Yadhu Krishnan</b></p>
              <h6>9 Suscribers</h6>
              <a href=" #" class="href">log Out</a>
            </div>
    </div>
</div>