<!-- <div class="container top-padding">
    <div class="row">
        <img src="assets/img/youtube.png" height="40px" width="110px">
    </div>
</div> -->

<div class="container top-padding">
    <div class="row">
        <div class="d-none d-md-block d-xl-block header_icons col-2 col-lg-2">
            <img src="assets/img/youtube.png" height="35px" width="100px">
        </div>
        <div class="d-none d-md-block d-xl-block header_icons col-2 col-lg-2"></div>
            <button class="btn">
                <i class="fa fa-bars"></i>
            </button>
            <i class="fa fa-bars" aria-hidden="true"></i>
        </div>
        <app-search></app-search>
        <app-button></app-button>

            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item d-md-down-none">
                  <a class="nav-link" href="#"><i class="fa fa-envelope"></i><span class="badge badge-pill badge-danger">1</span></a>
                </li>
                <li class="nav-item d-md-down-none">
                  <a class="nav-link" href="#"><i class="fa fa-bell"></i><span class="badge badge-pill badge-danger">3</span></a>
                </li>
                <!-- <li class="nav-item dropdown" dropdown placement="bottom right">
                  <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" dropdownToggle (click)="false">
                    <img src="assets/img/avatars/6.jpg" class="img-avatar" alt="admin@bootstrapmaster.com"/>
                  </a>
                </li> -->
              </ul>
      

        <!-- <div class=" d-none d-md-block d-xl-block header_icons col-5">
            <i class="fa fa-envelope header_icon"></i>
            <i class="fa fa-bell header_icon"></i>
        </div> -->
    </div>
</div>