.top-padding {
    padding-top: 45px;
    padding-bottom: 25px;
    padding-left: 50px;
  }
  
  .fa-bars {
    color: red;
    font-size: 24px;
    margin-left: 5px;
  }
  
  .header_icons {
    margin-left: 80px;
  }