<div class="row">

    <div class="col-sm-3 col-lg-3">
    </div>
    <div class="col-sm-1 col-lg-1">
        <p>Team</p>
    </div>
    <div class="col-sm-1 col-lg-1">
        <p>Press & Blog</p>
    </div>
    <div class="col-sm-1 col-lg-1">
        <p>Copyright</p>
    </div>
    <div class="col-sm-1 col-lg-1">
        <p>Creators & Partners</p>
    </div>
    <div class="col-sm-1 col-lg-1">
        <p>Adverdisting</p>
    </div>
    <div class="col-sm-1 col-lg-1">
        <p>Developers</p>

    </div>
    <div class="col-sm-3 col-lg-3">
    </div>
</div>
<div class="row">

    <div class="col-sm-3 col-lg-4">
    </div>
    <div class="col-sm-1 col-lg-1 item">
        Terms
    </div>
    <div class="col-sm-1 col-lg-1 item">
        Privacy
    </div>
    <div class="col-sm-1 col-lg-1">
        <p>Copyright</p>
    </div>
    <div class="col-sm-1 col-lg-1">
        <p>Creators & Partners</p>
    </div>
    <div class="col-sm-1 col-lg-1 term">
        <span class="align">Adverdisting</span>


    </div>
    <div class="col-sm-3 col-lg-2">
    </div>
</div>

<div class="row">
    <div class="col-sm-2 col-lg-5"></div>

    <div class="col-sm-2 col-lg-2">
        <span class="align">Copyright &copy; 2015 Youtube Inc.</span>
    </div>
    <div class="col-sm-2 col-lg-5"></div>
</div>