p{
    font-size: 12px;
    font-weight: 600;
    font-style: normal;
    display: inline;
}
.item{
    font-size: 10px;
}

.align{
    text-align: center;
    font-weight: 400;
    font-size: 11px;
    color: gray;
}