<div class="container">
    <div class="row">
        <div class="col-sm-6 col-lg-4">
            <div class="card text-white bg-info">
                <img class="card-img" src="assets/img/image (6).png" alt="Card image">
                <div class="card-img-overlay">
                </div>
            </div>
            <br>
            <h5><b>West Super Bowl 2015</b></h5>
        </div>
        <div class="col-sm-6 col-lg-4">
            <div class="card text-white bg-info">
                <img class="card-img" src="assets/img/image (5).png" alt="Card image">
                <div class="card-img-overlay">
                </div>
            </div>
        </div>
      
            <!-- <h5><b>Draft Punk- Get Lucky</b></h5> -->
        <div class="col-sm-6 col-lg-4">

            <div class="row">
                <div class="col-sm-6 col-lg-6">
                    <div class="card text-white bg-info">
                        <img class="card-img" src="assets/img/image (1).png" alt="Card image">
                        <div class="card-img-overlay">
                        </div>
                    </div>
                    <br>
                    <p><b>Shakira Waka Waka</b></p>
                </div>
                <div class="col-sm-6 col-lg-6">
                    <div class="card text-white bg-info">
                        <img class="card-img" src="assets/img/image (2).png" alt="Card image">
                        <div class="card-img-overlay">
                        </div>
                    </div>
                    <br>
                    <p><b>Shakira Waka Waka</b></p>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-6 col-lg-6">
                    <div class="card text-white bg-info">
                        <img class="card-img" src="assets/img/image (4).png" alt="Card image">
                        <div class="card-img-overlay">
                        </div>
                    </div>
                    <br>
                    <p><b>Shakira Waka Waka</b></p>
                </div>
                <div class="col-sm-6 col-lg-6">
                    <div class="card text-white bg-info">
                        <img class="card-img" src="assets/img/image (4).png" alt="Card image">
                        <div class="card-img-overlay">
                        </div>
                    </div>
                    <br>
                    <p><b>Shakira Waka Waka</b></p>
                </div>
              
            </div>

        </div>
    </div>
    <hr>
</div>