<div class="container">
    <div class="row">
        <div class="col-sm-6 col-lg-3">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-3 col-lg-2">
                            <img src="assets/img/nike.jpeg" class="rounded-circle" width="40" height="40">
                            </div>
                            <div class="col-sm-3 col-lg-10">
                          <h5 class="card-title top-padding">Nike Shoes</h5>
                            </div>
                    </div>
                    
                  <hr>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  <div class="row align-items-center">
                    <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
                        <button type="button" class="btn btn-pill btn-block btn-danger">Danger</button>
                      </div>
                  </div>
                  
                </div>
              </div>
        </div>
        <div class="col-sm-6 col-lg-3">
            <div class="card text-white bg-info">
                <img class="card-img" src="assets/img/image (7).png" alt="Card image">
                <div class="card-img-overlay">
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-lg-3">
            <div class="card text-white bg-info">
                <img class="card-img" src="assets/img/image (8).png" alt="Card image">
                <div class="card-img-overlay">
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-lg-3">
            <div class="card text-white bg-info">
                <img class="card-img" src="assets/img/image (9).png" alt="Card image">
                <div class="card-img-overlay">
                </div>
            </div>
        </div>
        
    </div>

    <br>
    <app-hrtag></app-hrtag>
    <div class="row">
        <div class="col-sm-6 col-lg-3">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-3 col-lg-2">
                    <img src="assets/img/shakira.jpeg" class="rounded-circle" width="40" height="40">
                    </div>
                    <div class="col-sm-3 col-lg-10">
                  <h6 class="card-title"><b>{{"ShakiraVEVO"}}</b></h6>
                  </div>
                  </div>
                  <hr>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                </div>
              </div>
        </div>
        <div class="col-sm-6 col-lg-3">
            <div class="card text-white bg-info">
                <img class="card-img" src="assets/img/image (12).png" alt="Card image">
                <div class="card-img-overlay">
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-lg-3">
            <div class="card text-white bg-info">
                <img class="card-img" src="assets/img/image (11).png" alt="Card image">
                <div class="card-img-overlay">
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-lg-3">
            <div class="card text-white bg-info">
                <img class="card-img" src="assets/img/image (10).png" alt="Card image">
                <div class="card-img-overlay">
                </div>
            </div>
        </div>
        <app-hrtag></app-hrtag>
    </div>


    <br>
    <app-hrtag></app-hrtag>

    <div class="row">
        <div class="col-sm-6 col-lg-3">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-3 col-lg-2">
                    <img src="assets/img/nike symbol.jpeg" class="rounded-circle" width="40" height="40">
                        </div>
                        
                            <div class="col-sm-3 col-lg-10">
                  <h5 class="card-title">Nike Football</h5>
                  </div>
                  </div>
                  <hr>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                </div>
              </div>
        </div>
        <div class="col-sm-6 col-lg-3">
            <div class="card text-white bg-info">
                <img class="card-img" src="assets/img/image (13).png" alt="Card image">
                <div class="card-img-overlay">
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-lg-3">
            <div class="card text-white bg-info">
                <img class="card-img" src="assets/img/image (14).png" alt="Card image">
                <div class="card-img-overlay">
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-lg-3">
            <div class="card text-white bg-info">
                <img class="card-img" src="assets/img/image (15).png" alt="Card image">
                <div class="card-img-overlay">
                </div>
            </div>
        </div>
        
    </div>
    <br>
    <app-hrtag></app-hrtag>
</div>